@import '../../variables.scss';

.container {
  position: fixed;
  width: 100%;
  height: 100%;

  .card-container {
    position: absolute;
    box-sizing: border-box;
    width: 350px;
    height: auto;
    padding: 2vh 2vw;
    font-family: roboto, sans-serif;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 5px 5px 15px $box-dark-shadow;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 10;
    margin: 0 calc((50vw - 350px) / 2);

    .card-name {
      height: 4vh;
      margin: 0 auto;
    }

    .card-image {
      width: auto;
      height:  30vh;
      max-height: 300px;
    }


    .card-types {
      position: relative;

      .types {
        display: inline-block;
        margin-right: 10%;
      }
    }

    .tile {
      position: relative;
      width: 90%;
      float: left;
      clear: left;
      margin: 0 auto 10px auto;
      padding: 0.75vh 15px;
      font-weight: 400;
      font-family: Raleway, verdana, sans-serif;
      color: $white;
      text-decoration: none;
      background: $color-main;
      text-transform: uppercase;
      border-radius: 4px;
      font-size: 1.7vh;

      &:hover {
        transition: all 150ms linear;
        opacity: .75;
      }

      &.normal {
        background: #9E9E9E;
      }

      &.fighting {
        background: #f44336;
      }

      &.flying {
        background: #42a5f5;
      }

      &.poison {
        background: #673AB7;
      }

      &.ground {
        background: #4e342e;
      }

      &.rock {
        background: #757575;
      }

      &.bug {
        background: #43a047;
      }

      &.ghost {
        background: #5e35b1;
      }

      &.steel {
        background: #757575;
      }

      &.fire {
        background: #FF5722;
      }

      &.water {
        background: #03A9F4;
      }

      &.grass {
        background: #689F38;
      }

      &.electric {
        background: #FFEB3B;
      }

      &.psychic {
        background: #ad1457;
      }

      &.ice {
        background: #607D8B;
      }

      &.dragon {
        background: #4527a0;
      }

      &.dark {
        background: #424242;
      }

      &.fairy {
        background: #ab47bc;
      }

      &.unknown {
        background: #607d8b;
      }

      &.shadow {
        background: #455a64;
      }
    }


    progress {
      position: relative;
      float: left;
      clear: left;
      width: 100%;
      height: 6px;
      margin: 5px 0 0 0;
      border-radius: 5px;
      color: $white;
      background: $box-shadow;
      border: none;
      outline: none;

      &::-webkit-progress-bar {
        background: $box-shadow;
        border-radius: 5px;
      }

      &::-webkit-progress-value {
        background: $white;
        border-radius: 5px;
        border: none;
      }

      &::-moz-progress-bar {
        background: $white;
        border: none;
        border-radius: 5px;
      }
    }

    //close button
    .closeButton {
      display: block;
      position: absolute;
      top: 0;
      right: -10px;

      .circle {
        width: 40px;
        height: 40px;
        background: transparent;
        border: 4px solid $red;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin: 10px 20px;

        &:after {
          width: 24px;
          height: 4px;
          background-color: $red;
          content: "";
          left: 50%;
          top: 50%;
          margin-left: -12px;
          margin-top: -2px;
          position: absolute;
          transform: rotate(-45deg);

        }

        &:before {
          left: 50%;
          top: 50%;
          margin-left: -12px;
          margin-top: -2px;
          width: 24px;
          height: 4px;
          background-color: $red;
          content: "";
          position: absolute;
          transform: rotate(45deg);
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media all and (max-width: 1050px) {
  .container {
    .background {
      width: 100vw;
      height: 100vh;
      background: $loader-overlay-color;
    }
    .card-name {
      font-size: 3.5vh;
    }
    .card-container {
      max-width: 450px;
      width: 90vw;
      max-height: 90vh;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      margin-left: auto;
      transform: translate(-50%, -50%);
      padding: 2vh 2vw;
      display: inline-block;
    }
  }
}


