/* Colors */
$color-main:  #2196F3;
$color-border:  #1976D2;
$color-smoke: #e4e4e4;
$color-dark:  #161616;

$box-shadow: rgba(0,0,0,0.2);
$box-middle-shadow: rgba(0,0,0,0.6);
$box-dark-shadow: rgba(0,0,0,0.9);
$white: #ffffff;
$black: #000000;
$red: #dc3445;
$grey: #e0e0e0;
$loader-overlay-color: rgba(255,255,255,0.7);



/* Sizes */
$borderRadius: 36px;

